Repository San-Francisco-Write-The-Docs/www, pull requests merged in 2020-01, with the labels that each got.

#13 Incomplete draft for contributing guidelines
  .github/.vale.ini
  .github/PULL_REQUEST_TEMPLATE.md
  .github/styles/base/abbreviations.yml
  .github/styles/base/spelling.yml
  .github/styles/brand/write-the-docs.yml
  .github/styles/brand/wtd.yml
  .github/styles/vocab.txt
  .github/workflows/greeting.yml
  .github/workflows/properties/greeting.properties.json
  .github/workflows/vale.yml
  CONTRIBUTING.md
  README.md
Labels: documentation

#10 Show next event and listing of announcements on the homepage #1
  _data/events/events-2020.yml
  _data/locations.yml
  _includes/announcements/breadcrumb.html
  _includes/events/breadcrumb.html
  _includes/navigation/breadcrumb.html
  _layouts/announcements/announcement.html
  _layouts/announcements/listing.html
  _layouts/announcements/tag.html
  _layouts/events/event.html
  _sass/base/_typography.scss
  _sass/components/_breadcrumb.scss
  _sass/components/_hero.scss
  _sass/main.scss
  content/_announcements/index.md
  content/_announcements/jan2020-announcement.md
  content/_announcements/jan2020-no-toc.md
  content/_announcements/jan2020-rejoined-locales.md
  content/_events/2020/january.md
  index.html
Labels: enhancement

#16 February 2020 Event Announcement WIP
  _config.yml
  _data/locations.yml
  _includes/events/event-listing-card.html
  _includes/events/presenting-optional-callout.html
  _includes/locations/linkedin.html
  _layouts/default.html
  _layouts/events/listing.html
  _sass/components/_callouts.scss
  _sass/components/_toc.scss
  _sass/main.scss
  content/_events/2020/february.md
  content/_events/2020/january.md
  package-lock.json
Labels: content, new-event

#15 added jan2020-new-website.md
  content/_announcements/jan2020-new-website.md
  content/_events/2020/february.md
  content/_organizers/organizers.md
Labels: content
